.outerContainer {
  width: 100%;
  overflow: hidden;
  display: flex;
  -webkit-mask-image:linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}

.innerContainer {
  display: flex;
  gap: 1rem;
  padding-right: 1rem;
}

.carousel {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  display: block;
  transition: all 0.3s ease-in-out;
}

.carousel:hover {
  transform: scale(1.05);
  opacity: 0.5;
}