.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
}