.footerContainer {
  position: relative;
  height: 600px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.footerContentContainer {
  position: relative;
  height: calc(100vh + 600px);
  width: 100%;
  top: -100vh;
}

.footerContent {
  position: sticky; 
  height: 600px;
  top: calc(100vh - 600px);
}