.stickyCards {
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 850px;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  background-color: var(--secondary-bg);
  color: var(--secondary-text-color);
  border-radius: 1rem;
  transform-origin: center bottom;
  will-change: transform;
}

.cardText {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.col {
  flex: 1;
  height: 100%;
}

.col:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.col:nth-child(2) {
  border-radius: 0.75rem;
  overflow: hidden;
}

#card-1 {
  background-color: yellowgreen
}

@media (max-width: 1200px) {
  .card {
    width: calc(100% - 4rem);
    height: 75%;
    flex-direction: column;
    padding: 1rem;
  }

  .card img {
    width: 75%;
    border-radius: 1rem;
    object-fit: cover;
  }

  .col {
    width: 100%;
  }
}
