.wrapperIntro {
  position: relative;
  height: 100vh;
  top: 0;
  left: 180%;
  width: 500vw;
  will-change: transform;
}

.giantText {
  width: 100%;
  font-size: var(--ultra-large-font-size);
  text-align: center;
  margin: 0;
  pointer-events: none;
}

.card {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
}

.card1 { top: 50%; left: 20%; }
.card2 { top: 25%; left: 40%; }
.card3 { top: 45%; left: 60%; }
.card4 { top: 15%; left: 80%; }

@media (max-width: 900px) {
  .wrapperIntro {
    padding-top: 20em;
  }
}